[submodule "content-cache/dependencies/lua-upstream-nginx-module"]
	path = content-cache/dependencies/lua-upstream-nginx-module
	url = https://github.com/openresty/lua-upstream-nginx-module
[submodule "content-cache/dependencies/lua-resty-upstream-healthcheck"]
	path = content-cache/dependencies/lua-resty-upstream-healthcheck
	url = https://github.com/openresty/lua-resty-upstream-healthcheck.git
