global
{%- if num_procs %}
	nbproc {{num_procs}}
{%- endif %}
{%- if num_threads %}
	nbthread {{num_threads}}
{%- endif %}
	maxconn {{global_max_connections}}
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# LP#1874386: Work around lingering HAProxy processes as per LP:1874386
	# and kill them off after 15mins.
	hard-stop-after 15m

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	# An alternative list with additional directives can be obtained from
	#  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
	ssl-default-bind-ciphers {{tls_cipher_suites}}
	ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11
	# We'll eventually disable DHE (LP#1825321), but for now, bump DH params
	tune.ssl.default-dh-param 2048

	# Increase the SSL/TLS session cache from the default 20k. But
	# rather than hardcode values, let's just set it to match
	# global_max_connections (which by default is calculated using
	# num. of CPU cores and num. of configured sites). Each entry
	# requires ~200 bytes so on a host with say 32 CPUs, 10 sites,
	# each with 2000 max conns will only consume around 122 Mbytes
	# (32 * 10 * 2000 * 200), which is not much.
	tune.ssl.cachesize {{global_max_connections}}

defaults
	log	global
	maxconn {{max_connections}}
	mode	http
	option	httplog
	option	dontlognull
	timeout connect 5000
	timeout client  50000
	timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

listen  stats
	bind 127.0.0.1:10000
	acl allowed_cidr src 127.0.0.0/8
	http-request deny unless allowed_cidr

	mode http
	stats enable
	stats uri /
	stats realm Haproxy\ Statistics
	stats auth haproxy:{{monitoring_password}}
	stats refresh 3

{% for stanza in listen -%}
{{stanza}}
{%- endfor -%}

{% for stanza in backend -%}
{{stanza}}
{%- endfor -%}

