lua_shared_dict prometheus_metrics 10M;
lua_package_path "{{ nginx_conf_path }}/?.lua";
init_by_lua_block {
  prometheus = require("prometheus").init("prometheus_metrics")
  http_request_total = prometheus:counter(
    "nginx_http_request_total", "Number of HTTP requests per site", {"host", "status"})
  cache_request_hit_total = prometheus:counter(
    "nginx_cache_request_hit_total", "Number of cache hits per site", {"host"})
}

server {
  listen {{ port }};
  allow all;
  location /metrics {
    content_by_lua_block {
      prometheus:collect()
    }
  }

  access_log /var/log/nginx/nginx_metrics-access.log;
  error_log /var/log/nginx/nginx_metrics-error.log;
}

