proxy_cache_path /var/lib/nginx/proxy/{{site}} use_temp_path=off levels=1:2 keys_zone={{name}}-cache:10m max_size=1g;

server {
    server_name {{site}};
    listen {% if address %}{{address}}:{% endif %}{{port}};

    location / {
        proxy_pass {{backend}};
        proxy_set_header Host "{{site}}";
        proxy_cache {{name}}-cache;
        proxy_cache_background_update on;
        proxy_cache_lock on;
        proxy_cache_min_uses 1;
        proxy_cache_revalidate on;
        proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
        proxy_cache_valid 200 1d;
{%- if origin_headers %}
{%- for header_pair in origin_headers -%}
{% for header, value in header_pair.items() %}
        proxy_set_header {{header}} '{{value}}';
{%- endfor -%}
{%- endfor -%}
{%- endif %}
{%- if signed_url_hmac_key %}

        access_by_lua_block {
            local hmac_key = "{{signed_url_hmac_key}}"

            local uri = ngx.var.uri
            local args = ngx.var.args

            local args, err = ngx.req.get_uri_args(0)
            if err then
                ngx.log(ngx.WARN, "unable to get args")
                return ngx.exit(ngx.HTTP_FORBIDDEN)
            end

            local token = args["token"]
            if not token then
                ngx.log(ngx.WARN, "request contains no token")
                return ngx.exit(ngx.HTTP_FORBIDDEN)
            end

            local m = ngx.re.match(token, [[^(?<expiry>[0-9]+)_(?<signature>[0-9a-fA-F]+)$]])
            if not m then
                ngx.log(ngx.WARN, "request contains invalid token")
                return ngx.exit(ngx.HTTP_FORBIDDEN)
            end

            local expiry = tonumber(m["expiry"])
            if not expiry then
                ngx.log(ngx.WARN, "invalid expiry time")
                return ngx.exit(ngx.HTTP_FORBIDDEN)
            end

            local digest = ngx.hmac_sha1(hmac_key, uri .. expiry)
            local digest_hex = ""
            for i = 1, string.len(digest) do
                local ord = string.byte(digest, i)
                digest_hex = digest_hex .. string.format("%02x", ord)
            end

            local signature = m["signature"]
            if string.len(digest_hex) ~= string.len(signature) then
                ngx.log(ngx.WARN, "invalid signature")
                return ngx.exit(ngx.HTTP_FORBIDDEN)
            end

            digest_valid = true
            for i = 1, string.len(digest_hex) do
                local b1 = string.byte(digest_hex, i)
                local b2 = string.byte(signature, i)
                digest_valid = digest_valid and b1 == b2
            end

            if not digest_valid then
                ngx.log(ngx.WARN, "invalid signature")
                return ngx.exit(ngx.HTTP_FORBIDDEN)
            end

            if ngx.now() > expiry then
                ngx.log(ngx.WARN, "request token has expired")
                return ngx.exit(410)
            end

            args["token"] = nil
            ngx.req.set_uri_args(args)
        }
{%- endif %}
    }

{%- if local_content %}
{% for location, stanza in local_content['locations'].items() %}
    location {{ location }} {
{%- for conf in stanza %}
        {{ conf }};
{%- endfor %}
    }
{% endfor %}
{%- endif %}

    access_log /var/log/nginx/{{site}}-access.log content_cache;
    error_log /var/log/nginx/{{site}}-error.log;
}

